body {
    font-family: Arial, Helvetica, sans-serif;
    background: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background: indianred;
    padding:20px ;
    width:300px ;
    border-radius:9px ;
    box-shadow: 0 0 10px peachpuff;
}

.box h2 {
    text-align: center ;
    margin-bottom:5px ;
}
 
.box input {
    width:90% ;
    padding: 10px; ;
    margin:8px 0 ;
    border:1px solid ;
    border-radius:5px ;

}

.box button {
    width:100% ;
    padding:10px ;
    background: plum;
    color: black;
    border:none ;
    border-radius:5px ;
    cursor:pointer ;
}

.box button:hover {
    background: palevioletred ;
}